#wrapper	{
			background-color:#FEF6C2;
			max-width: 1280px;
			min-width: 900px;
			width: 80%;
			margin-right:auto;
			margin-left:auto;
			box-shadow:drop-shadow;	
		}
.details	{
			padding-left: 20%;
			padding-right: 20%;
		}

body		{
			background-image:url(background.gif);
			background-color:#FCEBB6;
			color:#221811;
			font-style: Verdana;
		}
main		{
			padding-rigth: 2em;
			padding-left: 2em;
			padding-bottom: 2em;
		}

h1		{
			background-color:#D2B48C;
			line-height: 150px;
			background-image: url(javajamlogo.jpg);
			background-position: left;
			background-repeat: no-repeat;
			text-align: center;
			
			
		}

img		{
			padding-left:10px;
			padding-right: 10px;
		}
h2		{
			background-color: none;
			text-align: left;
		}
h4		{
			background-color:#D2B48C;
			font-size:1.2em;
			padding-left: .5em;
			padding-bottom:.25em;
		}
nav a		{
			text-decoration: none;
		}
nav 		{
			font-weight: bold;
			text-align:center;
			font-size:1.5em;
			padding-top:10px;
		}

footer		{
			background-color:#D2B48C;
			font-size:.60em;
			font-style: Italic;
			text-align: center;
			padding-bottom:10px
			
		}